<div class="social-herd">
  <div class="icon">
    <i class="bi bi-chevron-double-down"></i>
  </div>
  <div class="heading">Social Heard</div>
  <div class="container thumbnails">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 10rem; height: 10rem">
          <i class="bi bi-person-plus-fill"></i>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 10rem; height: 10rem">
          <i class="bi bi-images"></i>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 10rem; height: 10rem">
          <i class="bi bi-pencil-square"></i>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="card" style="width: 10rem; height: 10rem">
          <i class="bi bi-chat-left-dots-fill"></i>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="second-heading">Find Awesome People Like You</div>
  <div class="count">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <del>1</del>
        </div>
        <div class="col-sm">
          <del>2</del>
        </div>
        <div class="col-sm">
          <del>3</del>
        </div>
        <div class="col-sm">
          <del>4</del>
        </div>
        <div class="col-sm">
          <del>5</del>
        </div>
      </div>
    </div>
  </div>
  <div class="already-signed-up">People Already signed up</div>
  <div class="already-signed-up-2">
    <div class="main-heading">Test Application</div>
    <div class="sub-heading">
      Stay Connected Anytime, Anywhere
      <div>
        <img src="../../../assets/images/mobile.png" class="img-fluid" />
      </div>
    </div>
  </div>
  <div class="circle">
    <div class="circle-content container">
      <div class="row">
        <div class="col-sm">
          <div class="card">
            <div class="icon">
              <i class="bi bi-people-fill"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">1,1122</h5>
              <p class="card-text">People Registered</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="card">
            <div class="icon">
              <i class="bi bi-images"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">2,2222</h5>
              <p class="card-text">Posts Published</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="card">
            <div class="icon">
              <i class="bi bi-check-lg"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">33,44,55,76</h5>
              <p class="card-text">People Online</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
