.user-row {
  margin-bottom: 14px;
  padding: 4px;
  border-bottom: 1px solid #ccc;
}

.img-circle {
  border: 100%;
  height: 60px;
  width: 60px;
}
.name {
  color: #1faae2;
  line-height: 2.5em;
}
.add-friend {
  color: #93c371;
  font-size: 12px;
}
