<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="div-header">Find My Friend</div>
  <div class="form">
    <span> Signup now and meet awesome people around the world </span>
    <div class="inp">
      <input
        type="text"
        formControlName="firstName"
        [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }"
        placeholder="First Name"
      />

      <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
        <div *ngIf="f['firstName'].errors['required']">
          <small class="bg-danger text-white"> First Name is required</small>
        </div>
      </div>
    </div>
    <div class="inp">
      <input
        type="text"
        formControlName="lastName"
        [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }"
        placeholder="Last Name"
      />
      <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
        <div *ngIf="f['lastName'].errors['required']">
          <small class="bg-danger text-white"> Last Name is required</small>
        </div>
      </div>
    </div>
    <div class="inp">
      <input
        type="text"
        formControlName="username"
        [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
        placeholder="Username"
      />
      <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
        <div *ngIf="f['username'].errors['required']">
          <small class="bg-danger text-white"> Username is required</small>
        </div>
      </div>
    </div>
    <div class="inp">
      <input
        type="password"
        formControlName="password"
        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
        placeholder="Password"
      />
      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors['required']">
          <small class="bg-danger text-white"> Password is required</small>
        </div>
        <div *ngIf="f['password'].errors['minlength']">
          <small class="bg-danger text-white">
            Password must be at least 6 characters</small
          >
        </div>
      </div>
    </div>
    <button [disabled]="loading">
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm me-1"
      ></span>
      Register
    </button>
    <div><a href="javascript(0)"> Already have an account? </a></div>
  </div>
</form>
