.footer-wrapper {
  padding: 100px;
}

.icon-n-text i {
  margin-right: 30px;
}
.icon-n-text {
  margin-bottom: 20px;
}

.copy-right {
  background-color: #000;
  text-align: center;
  color: #fff;
}
