<form>
  <div class="form-group cust-form-group">
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter Your Name *"
    />
    <small id="emailHelp" class="form-text text-muted"
      ><i class="bi bi-person"></i
    ></small>
  </div>
  <div class="form-group cust-form-group">
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter your email *"
    />
    <small id="emailHelp" class="form-text text-muted"
      ><i class="bi bi-envelope"></i
    ></small>
  </div>
  <div class="form-group cust-form-group">
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter your phone *"
    />
    <small id="emailHelp" class="form-text text-muted"
      ><i class="bi bi-telephone"></i
    ></small>
  </div>
  <div class="form-group cust-form-group">
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
      placeholder="Leave a message for Us *"
    ></textarea>
  </div>
  <div class="form-group cust-form-group">
    <button type="submit" class="btn btn-primary">Send a message</button>
  </div>
</form>
