<div class="login text-center">
  <div class="brand-block">
    <app-brand></app-brand>
  </div>
  <div class="div-header">Find My Friend</div>
  <div class="form">
    <span> Signup now and meet awesome people around the world </span>
    <div class="inp">
      <input type="text" name="" id="" placeholder="Enter Name" />
    </div>
    <div class="inp">
      <input type="email" name="" id="" placeholder="Enter Email" />
    </div>
    <div class="inp">
      <input type="passwod" name="" id="" placeholder="Enter passwod" />
    </div>
    <button>Signup</button>
    <div><a href="javascript(0)"> Already have an account? </a></div>
  </div>
</div>
