<div class="d-flex justify-content-between">
  <div class="card mb-2" style="width: 15rem">
    <img
      src="../../../assets/images/male-avatar.webp"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <!-- <h5 class="card-title">Card title</h5> -->
      <p class="d-flex justify-content-around">
        <i class="bi bi-hand-thumbs-up"></i>
        <i class="bi bi-hand-thumbs-down"></i>
      </p>
      <app-followfriend></app-followfriend>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
</div>
