<div class="tws-card">
  <div class="tws-card-title">
    Recent Tasks
    <span pTooltip="Add New Task">
      <i class="pi pi-plus"></i>
    </span>
  </div>
  <div class="tws-card-body bg-white mx-h-300">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Task Name</th>
          <th scope="col">Inventory</th>
          <th scope="col">Created Date</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
          <th scope="col">Result</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            BPPRTS-bios-regression(Turin classic/dense)_generic
          </th>
          <td>Chalupa 3612</td>
          <td>10-2-2023</td>
          <td>
            <span class="tws-badge badge-primary">Completed</span>
          </td>
          <td class="d-flex justify-content-between mx-w-150">
            <div>
              <i class="bi bi-pencil-fill"></i> <i class="bi bi-play"></i
              ><i class="bi bi-x"></i>
            </div>
          </td>
          <td><a href="#">Result Link</a></td>
        </tr>
        <tr>
          <th scope="row">CPUV8-TTIOX1007-NPS-TDP-IOMMU-DGM-iPerf-Date-Time</th>
          <td>Chalupa 3612</td>
          <td>10-2-2023</td>
          <td>
            <span class="tws-badge badge-warning">In Progress</span>
          </td>
          <td class="d-flex justify-content-between mx-w-150">
            <div>
              <i class="bi bi-pencil-fill"></i> <i class="bi bi-play"></i
              ><i class="bi bi-x"></i>
            </div>
          </td>
          <td><a href="#">Result Link</a></td>
        </tr>
        <tr>
          <th scope="row">xp_fio_genoa_titanite-24_numa_align</th>
          <td>Chalupa 3612</td>
          <td>10-2-2023</td>
          <td>
            <span class="tws-badge badge-danger">Canceled</span>
          </td>
          <td class="d-flex justify-content-between mx-w-150">
            <div>
              <i class="bi bi-pencil-fill"></i> <i class="bi bi-play"></i
              ><i class="bi bi-x"></i>
            </div>
          </td>
          <td><a href="#">Result Link</a></td>
        </tr>
        <tr>
          <th scope="row">CPUV8-TTIOX1007-NPS-TDP-IOMMU-DGM-iPerf-Date-Time</th>
          <td>Chalupa 3612</td>
          <td>10-2-2023</td>
          <td>
            <span class="tws-badge badge-primary">Completed</span>
          </td>
          <td class="d-flex justify-content-between mx-w-150">
            <div>
              <i class="bi bi-pencil-fill"></i> <i class="bi bi-play"></i
              ><i class="bi bi-x"></i>
            </div>
          </td>
          <td><a href="#">Result Link</a></td>
        </tr>
        <tr>
          <th scope="row">Install-common-prerequisites (develop)</th>
          <td>Chalupa 3612</td>
          <td>10-2-2023</td>
          <td>
            <span class="tws-badge badge-primary">Completed</span>
          </td>
          <td class="d-flex justify-content-between mx-w-150">
            <div>
              <i class="bi bi-pencil-fill"></i> <i class="bi bi-play"></i
              ><i class="bi bi-x"></i>
            </div>
          </td>
          <td><a href="#">Result Link</a></td>
        </tr>
        <tr>
          <th scope="row">bpprts-bios-regression(Genoa-Quartz)</th>
          <td>Chalupa 3612</td>
          <td>10-2-2023</td>
          <td>
            <span class="tws-badge badge-warning">In Progress</span>
          </td>
          <td class="d-flex justify-content-between mx-w-150">
            <div>
              <i class="bi bi-pencil-fill"></i> <i class="bi bi-play"></i
              ><i class="bi bi-x"></i>
            </div>
          </td>
          <td><a href="#">Result Link</a></td>
        </tr>
        <tr>
          <th scope="row">CPUV8-TTIOX1007-NPS-TDP-IOMMU-DGM-iPerf-Date-Time</th>
          <td>Chalupa 3612</td>
          <td>10-2-2023</td>
          <td>
            <span class="tws-badge badge-warning">In Progress</span>
          </td>
          <td class="d-flex justify-content-between mx-w-150">
            <div>
              <i class="bi bi-pencil-fill"></i> <i class="bi bi-play"></i
              ><i class="bi bi-x"></i>
            </div>
          </td>
          <td><a href="#">Result Link</a></td>
        </tr>
        <tr>
          <th scope="row">PDAT_full_data_collection</th>
          <td>Chalupa 3612</td>
          <td>10-2-2023</td>
          <td>
            <span class="tws-badge badge-danger">Canceled</span>
          </td>
          <td class="d-flex justify-content-between mx-w-150">
            <div>
              <i class="bi bi-pencil-fill"></i> <i class="bi bi-play"></i
              ><i class="bi bi-x"></i>
            </div>
          </td>
          <td><a href="#">Result Link</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
