.timeline-header-wrapper {
  height: 300px;
  background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
  background-position: 0 50%;
  background-size: 100% auto;
}

.button {
  align-self: flex-end;
  height: auto;
}
