<div class="container mt-5 cust-container">
  <div class="row grid-divider">
    <div class="col-sm-4">
      <div class="col-padding">
        <app-loggedprofile [friend]="friends[0]"></app-loggedprofile>
      </div>
      <div class="col-padding">
        <app-menu></app-menu>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-padding">
        <div class="row mb-5">
          <div class="col-12">
            <app-postpublish></app-postpublish>
          </div>
        </div>
        <div class="row">
          <div class="col-6" *ngFor="let friend of friends">
            <app-friendcard [friend]="friend"></app-friendcard>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="col-padding" *ngFor="let friend of friends">
        <app-followfriend [friend]="friend"></app-followfriend>
      </div>
    </div>
  </div>
</div>
