<div class="container-fluid">
  <div class="d-flex justify-content-between">
    <div class="flex-item-70">
      <!-- <app-typewriter></app-typewriter> -->
    </div>

    <!-- <h4 class="card-header">Login</h4> -->
    <div class="flex-item-10 login-wrapper">
      <img
        src="../../assets/images/e-com-logo.png"
        alt=""
        srcset=""
        class="tws-logo"
      />
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <input
            type="text"
            formControlName="username"
            class="form-control"
            placeholder="Username"
          />
          <div
            *ngIf="submitted && f['username'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['username'].errors['required']">
              Username is required
            </div>
          </div>
        </div>
        <div class="mb-3">
          <input
            type="password"
            formControlName="password"
            class="form-control"
            placeholder="Password"
          />
          <div
            *ngIf="submitted && f['password'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['password'].errors['required']">
              Password is required
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label class="checkbox-container">
            <input type="checkbox" />&nbsp;Remember Me
            <span class="checkmark"></span>
          </label>
        </div>
        <div align="center">
          <button pRipple class="tws-primary">
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm me-1"
            ></span>
            <i class="pi pi-sign-in"></i>&nbsp; | Sign In
          </button>
          <a routerLink="../register" class="btn-link">Register</a>
        </div>
      </form>
    </div>
  </div>
</div>
