<div class="container-fluid cust-nav">
  <div class="row">
    <div class="col img-container">
      <img src="../../../assets/images/female-avathar.png" alt="" />
    </div>
    <div class="col-3">
      <ul>
        <li><a href="">Timeline</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Album</a></li>
        <li><a href="">Friends</a></li>
      </ul>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col-4">
      <ul>
        <li>123456 Members following her</li>
        <li><button class="cust-primary-btn">Follow</button></li>
      </ul>
    </div>
  </div>
</div>
